.skandal_pagehome_body3{
    background:#FFF !important;
}

.profiles {
    height: 370px;
    background: #f1f1f1;
    padding: 0;
    margin: 0;
    width:100%;
}

.profiles p {
    line-height: 17px;
    text-align: justify;
    font-size: 13px
}
.profiles .alert{
margin-bottom: -10px;
margin-top: 10px;
}