/* begin style chung co tat ca cac trang */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*{
    margin:0;
    padding:0;
    list-style:none;
    border:none;
}

h5 small,
.h5 small .title {
    color: #660000;
    font-size: 80%;
    font-weight: bold
}

body {
    overflow-x: hidden;
    background: #CCC;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700!important;
}

h5.title {
    color: #660000;
    font-size: 95%!important;
    font-weight: bold
}

h5.small {
    color: #660000;
    font-size: 100%!important;
    font-weight: bold;
}

header {
    text-align: center;
    color: #fff;
    position: relative;
}

header .container {
    padding-top: 10px;
    padding-bottom: 0px;
}

header img {
    display: block;
    margin: 0 auto 0px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media (min-width: 768px) {
    header .container {
        padding-top: 10px;
        padding-bottom: 0px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

/* end style chung co tat ca cac trang */



/* Begin Footer*/

footer {
    background: #0d7d9d;
    padding: 20px 0;
    border-top: #ff8200 4px solid
}

footer .col-md-2 {
    width: 20%;
}

footer h5 {
    color: #81c8df;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

footer ul {
    margin: 0;
    padding: 0;
    font-size: 14px;
    list-style: none;
    color: #ffffff;
    display: block;
}

footer ul li {
    width: 100%;
    line-height: 18px;
}

footer ul li a {
    color: #e9e9e9;
}

footer ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.footerBtm {
    background: #ffffff;
    padding: 18px 0 10px;
    color: #0d7d9d;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

/* footer social box */
.modern {
    display: inline-block;
    width: 90%;
    margin: 10px;
    padding: 3px 15px 0 15px;
    background: #0d7d9d;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 8px;
    transition: all 0.3s ease-out;
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.5),
        0 2px 2px rgba(0,0,0,0.3),
        0 0 4px 1px rgba(0,0,0,0.2);

    /* Font styles */
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,0.7);
}

.modern:hover  { background: #006699; }

.embossed-link {
    box-shadow:
        inset 0 3px 2px rgba(255,255,255,.22),
        inset 0 -3px 2px rgba(0,0,0,.17),
        inset 0 20px 10px rgba(255,255,255,.12),
        0 0 4px 1px rgba(0,0,0,.1),
        0 3px 2px rgba(0,0,0,.2);
}

.modern.embossed-link {
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.5),
        0 2px 2px rgba(0,0,0,0.3),
        0 0 4px 1px rgba(0,0,0,0.2),
        inset 0 3px 2px rgba(255,255,255,.22),
        inset 0 -3px 2px rgba(0,0,0,.15),
        inset 0 20px 10px rgba(255,255,255,.12),
        0 0 4px 1px rgba(0,0,0,.1),
        0 3px 2px rgba(0,0,0,.2);
}

.modern.embossed-link:active {
    box-shadow:
        inset 0 -2px 1px rgba(255,255,255,0.2),
        inset 0 3px 2px rgba(0,0,0,0.12);
}

.socle {
    position: relative;
    z-index: 2;
}

.socle:after {
    content: "";
    z-index: -1;
    position: absolute;
    border-radius: 12px;
    box-shadow:
        inset 0 1px 0 rgba(0,0,0,0.1),
        inset 0 -1px 0 rgba(255,255,255,0.7);
    top: -6px; bottom: -6px;
    right: -6px; left: -6px;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0));
}

/* footer social box */

/* end Footer*/

/* Begin Style joomla Footer Menu */
.module-inner h3 { height: 20px; line-height: 20px; margin: 0}
.module-inner h3 span {color: #81c8df}
.module-inner.module-inner > .module-ct ul.nav-pills  { margin: 0; padding:0}
.module-inner.module-inner > .module-ct > ul.nav-pills  li{ height: 17px; line-height: 17px}
.module-inner.module-inner > .module-ct > ul.nav-pills  li > a:link { background: none!important; color: #FFFFFF}
/* End Style joomla Footer Menu */

/* Begin Style joomla Footer-bottom Menu */
#navbottom ul
{
    margin: 0;
    padding: 0;
    display: block;
}

#navbottom ul li { display: inline; float: left; height:30px; line-height:15px ; text-align: center}
#navbottom ul li a { color: #006699; text-decoration: none}


#company-information { float: left;}
#company-information p { color: #FFFFFF;}
/* End Style joomla Footer-bottom Menu */
